@import "tailwindcss";
/* Add this to your index.css */
@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover, 
  input:-webkit-autofill:focus, 
  input:-webkit-autofill:active {
    /* This makes the background transparent and uses the input's own color */
    -webkit-background-clip: text;
    transition: background-color 5000s ease-in-out 0s;
    /* This removes the inner shadow hue entirely */
    box-shadow: inset 0 0 0 1000px transparent;
  }
}

/* Custom Scrollbar Styles */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Makes the track invisible */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Color of the scroll handle (Slate-300) */
  border-radius: 10px; /* Makes it rounded */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* Darker on hover (Slate-400) */
}

/* To completely HIDE the scrollbar but keep scrolling functionality */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}